* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Merel', sans-serif;
}
@font-face {
    font-family: "Merel";
    src: url(fonts/Merel\ Light.otf);
    font-weight: 100;
    font-style: normal; 
}

@font-face {
    font-family: "Merel";
    src: url(fonts/Merel\ Bold.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Merel";
    src: url(fonts/Merel.otf);
    font-style: normal;
}

@font-face {
    font-family: "Merel";
    src: url(fonts/Merel\ Medium.otf);
    font-weight: 500;
    font-style: normal;
}

body
{
    margin: 0;
    padding: 0;

    transition: background-color 1s ease;
    overflow-y: hidden;

    background-color: #1e1d23;    
}

#tsparticles
{
    width: 100%;
    height: 100%;
	position: absolute;
}

.wrapper
{
    margin: auto;
    position: relative;
    width: 100%;
    overflow: auto;
    background: none;
    
}

.navbar
{
    position: fixed;
    margin-top: 20px;
    background: none;
    right: 5%;
    z-index: 1;
    opacity: 0;
    animation: slideInRight 1s forwards;
}

.navbar ul
{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    height: 100%;
    margin-top: 5px;
}

.navbar ul li 
{
    padding-right: 50px;
}

.navbar ul li a
{
    display: block;
    padding: 3pt 5pt;
    width: 100%;
    text-decoration: none;

    color: white;

	border: 2px solid white;
	border-radius: 8px;
    
}

.navbar ul li a:hover
{
    background-color: white;
	color: #161322;
    transition: 0.2s;
}

.content
{
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;   
    height: 100vh;
}

.content img
{
    transition: 0.1s ease-in;
}

.content img:hover
{
    transform: scale(1.5); 
}

section
{
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

#one
{
    background: radial-gradient(ellipse at 72% 50%, rgba(30,29,35,0.7) 0%, rgba(30,29,35,1) 80%), url(Wallpapers/starballz-wallpaper.png) no-repeat center top fixed;
    background-size: cover;
}

#two
{
    height: 101vh;
    background: radial-gradient(ellipse at 72% 50%, rgba(30,29,35,0.85) 0%, rgba(30,29,35,1) 60%), url(Wallpapers/bullyus-wallpaper.png) no-repeat top center;
}

#stick
{
    height: 100vh;
    background: radial-gradient(ellipse at 72% 50%, rgba(30,29,35,0.8) 0%, rgba(30,29,35,1) 60%), url(Wallpapers/stick-wallpaper.png) no-repeat top center;
}

#monke
{
    height: 100vh;
    background: radial-gradient(ellipse at 65% 50%, rgba(30,29,35,0.7) 0%, rgba(30,29,35,1) 70%), url(Wallpapers/monke-wallpaper.png) no-repeat top center;
}

#abandon
{
    height: 100vh;
    background: radial-gradient(ellipse at 72% 50%, rgba(30,29,35,0.5) 0%, rgba(30,29,35,1) 80%), url(Wallpapers/abandon-wallpaper.png) no-repeat top center;
}

#hogwarts
{
    height: 100vh;
    background: radial-gradient(ellipse at 70% 50%, rgba(30,29,35,0.7) 0%, rgba(30,29,35,1) 70%), url(Wallpapers/larry-wallpaper.png) no-repeat top center;
}

#pixel
{
    height: 100vh;
    background: radial-gradient(ellipse at 70% 50%, rgba(30,29,35,0.6) 0%, rgba(30,29,35,1) 70%), url(Wallpapers/pixel-wallpaper.png) no-repeat top center;
}
#runner
{
    height: 100vh;
    background: radial-gradient(ellipse at 70% 50%, rgba(30,29,35,0.7) 0%, rgba(30,29,35,1) 65%), url(Wallpapers/runner-wallpaper.png) no-repeat top center;
}

#time
{
    height: 100vh;
    background: radial-gradient(ellipse at 70% 50%, rgba(30,29,35,0.8) 0%, rgba(30,29,35,1) 70%), url(Wallpapers/time-wallpaper.png) no-repeat top center;
}

#control
{
    height: 100vh;
    background: radial-gradient(ellipse at 70% 50%, rgba(30,29,35,0.8) 0%, rgba(30,29,35,1) 70%), url(Wallpapers/control-wallpaper.png) no-repeat top center;
}

.content iframe
{
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.4);
    margin-top: 15px;
    width: 80%;
    height: 37vh;
}

.projectcontainer
{
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    margin: auto;
    width: 90%;
    height: 90%;
    background-color: rgba(138, 132, 153, 0.05);
    /*background: linear-gradient(to right bottom,rgba(255,255,255,0.05),rgb(255,255,255,0.15));*/
    /* box-shadow: 0px 0px 20px rgba(0,0,0,0.2); */
    /* border-radius: 1rem; */
    overflow-x: hidden;

    transform: translate(0%,70px);
}

@media only screen and (max-width:700px)
{
    .projectcontainer
    {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1.5fr;
    }

    
}

.projectmedia
{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.projectimages
{
    margin: auto;
    display: block;
}

.projectimages a img
{
    margin: auto;
    left: 50%;
    border-radius: 1em;
}


.projectdesc
{
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 60px;
    font-weight: 200;
    line-height: 30px;
    text-align: center;
}

.projectdesc h3
{
    font-family: "Merel", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    padding-bottom: 30px;
    text-align: center;   
}

.projectdesc a
{
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-decoration: none;
    background: white;
    border: 3px solid white;
    color: #161322;
	border-radius: 10px;
	padding: 5px 7px;
    margin-left: -3%;
}

.info-btn
{
    text-align: center;
    position: absolute;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    cursor: pointer;
}

.info-btn:hover
{
    box-shadow: rgb(255, 255, 255,0.8) 8px 8px 0px, rgba(255, 255, 255, 0.8) -8px -8px 0px;
}

.projectdesc p
{
    text-align: left;
    padding-top: 20px;
    font-size: 16pt;
    margin-top: 30px;
    font-family: "Merel", sans-serif;
    font-weight: 100;
    font-style: normal;
}

#stick .projectdesc h3, #monke .projectdesc h3, #hogwarts .projectdesc h3
{
    margin-bottom: -30px;
}

#stick .projectdesc h2, #monke .projectdesc h2, #hogwarts .projectdesc h2
{
    font-family: 'Merel';
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 10px;
}

#pixel .projectdesc h2, #runner .projectdesc h2, #time .projectdesc h2, #control .projectcontainer h2
{
    font-family: 'Merel';
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 10px;
}

#abandon .projectdesc h2
{
    font-family: 'Merel';
    font-weight: 100;
    font-size: 22px;
    margin-top: -20px;
}

#stick .projectdesc p 
{
    margin-top: 40px;
}

#monke .projectdesc p
{
    margin-top: 50px;
}

#hogwarts .projectdesc p
{
    margin-top: 70px;
}

#time .projectmedia, #control .projectmedia
{
    margin-top: 250px;
}

@keyframes slideInRight
{
    0%{transform: translateX(100px);}
	100%{opacity: 1; transform: translateY(0px);}
}


